@model GitHubStats.Models.UserStats
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

    <div class="jumbotron">
        <h1>Welcome @Model.User.Name</h1>
        <p>
            Discover github statistic for your account!
        </p>
    </div>

<div class="row">
    <div col-md-3 col-sm-6 col-xs-12>
        <div class="row-fluid">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <img src="@Model.User.AvatarUrl" class="img-circle" width="200" />

            </div>
        </div>
    </div>
    <div col-md-9 col-sm-12 col-xs-12>
        <dv class="row-fluid">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-download"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Download</span>
                        <span class="info-box-number">@Model.TotalDownload</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-star"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Stars</span>
                        <span class="info-box-number">@Model.TotalStars</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Releases</span>
                        <span class="info-box-number">@Model.TotalReleases</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
       

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-hdd-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Code Size</span>
                    <span class="info-box-number">  @Model.DiskUsage<sub>&nbsp;KB</sub> </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
 

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Folloers</span>
                <span class="info-box-number">@Model.User.Followers</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>


<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-purple"><i class="fa fa-github-alt"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Repositories</span>
            <span class="info-box-number">@Model.Repositories.Count</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
</div>
    </div>


<div class="row spacer"></div>
    <div class="row ">
        <div class="col-sm-12">

            <div class="box">
                <div class="box-header with-border">
                    <h2 class="box-title">Repositories</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">

                        <tr>
                            <th>Name</th>
                            <th>Issues Count</th>
                            <th>Pushed At</th>
                            <th>Updated At</th>
                            <th>Stars</th>
                            <th>Code Size (KB)</th>
                            <th>Releases</th>
                            <th>Downloads</th>
                            <th>Badges</th>

                        </tr>

                        @foreach (var item in Model.Repositories)
                        {
                            <tr>
                                <td>  @item.Repo.Name</td>
                                <td>  @item.Repo.OpenIssuesCount</td>
                                <td>  @item.Repo.PushedAt</td>
                                <td>  @item.Repo.UpdatedAt</td>
                                <td>  @item.Repo.StargazersCount</td>
                                <td>@item.Repo.Size</td>
                                <td>  @item.ReleasesCount</td>
                                <td>  @item.TotalDownload</td>
                                <td><img src="/badges/RepositoryDownloads/@(item.Repo.Id).svg" /></td>
                            </tr>
                        }


                    </table>
                </div>
            </div>

        </div>
    </div>
